include _library
doctype html
html
	head
		title=title
		meta(charset="utf-8")
		meta(name="viewport" content="width=792, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="bower_components/shower-ribbon/styles/screen.css")
		link(rel="stylesheet" href="index.css")
	body.list
		header.caption
			h1=title
			h2=description
		!= yield
		p.badge
			a(href="https://github.com/Grawl/Geom") Fork me on Github
		.progress
			div
		script(src="bower_components/shower-core/shower.min.js")