include _library
+slide
	h2=title
	p Ты - маленький бог в холодном царстве мрака...
		br
		strong Бог ГЕОМЕТРИИ!
+slide
	h2 Создать игру в отсутствии зоны комфорта
	ul
		li Мы – не gamedev'ы
		li Нас двое
		li У нас два дня
+slide.cover.object-cover-container
	.img(style="background-image: url('images/Design.png')").object-cover
+slide
	h2 Цели игры
	ol
		li Создать религию
		li Набрать побольше веры
		li Сохранить религию
	p Враги – это #[strike еретики] атеисты, и чем больше в вас верят,#[br]тем больше их&nbsp;появляется.
+slide
	h2 Технологии
	ul
		li excalibur.js
		li HTML, CSS, JS
		li TypeScript, Jade, Sass, Grunt, Bower
+slide.cover.object-cover-container
	iframe(src="game/index.html").object-cover
+slide
	h2=title
		=' '
		a(href="https://grawl.github.io/geom") grawl.github.io/geom
	h3 Даниил Пронин #[a(href="https://github.com/grawl") github.com/grawl]
	h3 Святослав Постевой #[a(href="https://github.com/mrakolice") github.com/mrakolice]
	p Vladivostok Hackathon III, 2015